<!doctype html>
<html>
<head>
    <title>Auth1</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <ul class="messages">
          <% for(var i=0; i<habits.length; i++) {%>
            <h3><%= habits[i].habits %> <span><i class="fa fa-trash" aria-hidden="true"></i></span></h3>
            <% for(var d=0; d<32; d++) {%>
            <li class="Day">Day <span><%=  d %></span> 
              <% let highlight = habits[i].complete ? 'green' : 'blue' %>
                <span><i style="color: <%= highlight %>" class="fas fa-calendar-check" aria-hidden="true"></i></span>
              </li>
              <% } %>
            </li>
          <% } %>
          </ul>

          <h2>Enter a Habit</h2>
        <% if (user.local.email) { %>
          <form action="/habit-tracker" method="POST">
            <input type="text" placeholder="habit" name="habit">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

</div>

<script src="https://kit.fontawesome.com/78f0fc0f25.js" crossorigin="anonymous"></script>
<script src="main.js"></script>

</body>
</html>
